@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
  background-color: #91E78C;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: auto;
  margin-top: 18%;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: #FFFEE3;
}

.minicontainer {
  margin: auto;
  margin-top: 1%;
  height: 75px;
  width: 300px;
  border-radius: 10px;
  background-color: #FFFEE3;
}

.header {
  text-align: center;
  font-family: 'Comic Neue';
}

.input {
  margin-top: 5%;
  margin-left: 5%;
  padding: 10px;
  height: 30px;
  width: 250px;
  border-width: 0px;
  border-radius: 10px;
  background-color: #FFF;
}

.button {
  margin-top: 10%;
  margin-left: 25%;
  height: 50px;
  width: 150px;
  border-width: 0px;
  border-radius: 8px;
  background-color: #D8FDD6;
}
