*/node_modules/
*~

# Frontend
ShopItFrontend/.expo/*
ShopItFrontend/npm-debug.*
ShopItFrontend/*.jks
ShopItFrontend/*.p8
ShopItFrontend/*.p12
ShopItFrontend/*.key
ShopItFrontend/*.mobileprovision
ShopItFrontend/*.orig.*
ShopItFrontend/web-build/

# macOS
.DS_Store

# Backend
ShopItBackend/.env
ShopItBackend/uploads

# Istanbul
.nyc_output/
coverage/